version: '3'

services :
    notebook:
      container_name: anaconda3
      build:
        context: .
        dockerfile: dockerfiles/Dockerfile.notebook
      labels:
        name: notebook
      ports:
        - "8888:8888"
      volumes:
        - ${LOCAL_PATH_NOTEBOOK}:/home/4aibd-s1-project-ml
      stdin_open: true
      tty: true

networks:
  default:
    driver: bridge