.idea*
.DS_Store
Icon
__pycache__
.vscode
_config.yml
src/app/notebooks/logs/
mlruns/
default/notebooks/aclImdb
default/notebooks/corpus/
default/notebooks/stopwords/
notebooks/.ipynb_checkpoints/*
*token.pickle
*corpus
*stopwords
*aclImdb
default/utils/GmailManager/resources/credentials.json
*credentials.json
*service_account.json
*gmail_credentials.json
src/components/outlook_manager/resources/psswrd.txt
*__pycache__
python_37/*
*.env
default/notebooks/.movie_data.csv.icloud
*__pycache__
*.csv
*__init__.py
*nltk*
python37*
resources/api_gcp_credential/client_secret.json
client_secret\.json
client_secret_localhost\.json
*/client_secret_localhost.json
*/__pycache__