<!DOCTYPE html>
<html lang="en">
<head>
    <title>Neomail | Login</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!--===============================================================================================-->
    <link
            rel="icon"
            type="image/png"
            href="{{ url_for('static', filename='login/images/icons/neomail_jaune_ico.png') }}"
    />
    <!--===============================================================================================-->
    <link
            rel="stylesheet"
            type="text/css"
            href="{{ url_for('static', filename='login/fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}"
    />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login/css/util.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login/css/main.css') }}"/>
    <!--===============================================================================================-->
</head>

<body>
<div id="neomail-redirect" data-url="http://beta.neomail.online:8080/authorize"></div>
<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div id="div_logo">
                <img
                        src="../static/login/images/icons/neomail_jaune.png"
                        alt="NEOMAIL"
                        width="250vw"
                />
            </div>
            <div
                    class="login100-form-title"
                    style="background-image: url(../static/login/images/bg-01.jpg);"
            >
                <span class="login100-form-title-1"> <br/>Sign In </span>
            </div>


            <form class="login100-form validate-form">
                <div class="container-login100-form-btn">
                    <button onclick="location.href = '{{ redirect_url }}'" id="myButton"
                            class="login100-form-btn" style="width:22vw!important;"  type="button">
                        <img src="../static/login/images/gmail-logo.png" width="50vw" alt=" "/>
                        &nbsp;Google
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<!--===============================================================================================-->
<script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"
></script>

<!--===============================================================================================-->
<script src="../static/login/js/main.js"></script>
</body>
</html>
