{
  "installed": {
    "client_id": "XXXXXXXXX",
    "project_id": "XXXXXXXXX",
    "auth_uri": "XXXXXXXXX",
    "token_uri": "XXXXXXXXX",
    "auth_provider_x509_cert_url": "XXXXXXXXX",
    "client_secret": "XXXXXXXXX",
    "redirect_uris": [
      "XXXXXXXXX",
      "http://localhost"
    ]
  }
}