{
  "type": "service_account",
  "project_id": "XXXXXXX",
  "private_key_id": "XXXXXXX",
  "private_key": "-----BEGIN PRIVATE KEY-----\XXXXXXXX",
  "client_id": "XXXXXX",
  "auth_uri": "XXXXXX",
  "token_uri": "XXXXXX",
  "auth_provider_x509_cert_url": "hXXXXXXX",
  "client_x509_cert_url": "XXXXXX"
}